*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to bottom right, #C94B4B, #BD485C,#8B4B80); */
}

.navbar{
    width: 100%;
    height: 3.25rem;
    background-color: rgba(255, 255, 255, 100%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding-right: 1.06rem; */
    box-shadow: 5px 4px 4px 0px rgba(0,0,0,25%);
}

.navbar button{
    /* aspect-ratio: 84/30; */
    font-size: .69rem;
    /* letter-spacing: -3%; */
    padding: 0.65rem 1.875rem 0.65rem 1.81rem;
    background-color: #C73659;
    border-radius: 17px;
    border: solid black 1px;
    color: #eee;
    margin-left: 1.06rem;
    box-shadow: 0px 4px 4px rgba(0,0,0,25%);
}

.title{
    font-weight: 600;
    color: #000;
    font-size: 2.25rem;
    text-align: center;
    margin-top: 2.125rem;
    /* filter: drop-shadow(5px 5px 4px 0px #000); */
    text-shadow:5px 4px 4px rgba(0,0,0,25%) ;
    margin-bottom: 3.56rem;
    font-family: "Poppins", sans-serif;

}

nav a img{
    margin-right: 1.31rem;
}

ol{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* margin-left: 5.06rem; */
}

ol li{
    aspect-ratio: 1056/153;
    width: 65.8rem;
    background:radial-gradient(#E8CBC0,#636FA4);
    margin-bottom: 1.375rem;
    border-radius: 10px;
    color: rgba(5,0,67,50%);
    font-size: 1.3rem;
    font-weight: 600;

}
/* ol li .title,.topic,.data{
    text-shadow: none;

}
ol li .title span:nth-child(1){
    font-size: 2rem;
    font-weight: 500;
    color: #000;
} */

.navbar button:hover{
    box-shadow: none;
    border: none;
}

ol li table{
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: "Poppins", sans-serif;
    border-collapse: collapse;

    thead tr th:First-child{
        font-size: 2rem;
        font-weight: 500;
        color: #000;
    }
    thead tr th:last-child{
        font-size: 1.5rem;
        font-weight: 500;
        color: #000;
    }
    tbody tr:first-child td{
        color: #fff;
        font-weight: 500;
        font-size: 1rem;
        button{
            color: #eee;
            font-size: 1.5rem;
            font-weight: 500;
            background-color:rgba(51, 49, 156, 70%);
            padding: 0.625rem .625rem 0.5rem .5rem;
            border-radius: 6px;
            border: #000 solid 2px;
        }
    }
    tbody tr:last-child td{
        font-weight: 500;
        font-size: 1.5rem;
        color: #000;
        /* border-top: rgba(217, 217, 217, 60%) solid 1px; */
    }
}

/* ol li table thead tr th:last-child{
    font-size: 1.5rem;
    font-weight: 500;

} */
