<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meeting Manager</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="../images/navbarLogo.png" />

    <link rel="stylesheet" href="../css/createMeeting.css" />
  </head>
  <body>
    <nav>
      <button onclick="backBtn()">Back</button>

      <div class="logo">
        <img
          onclick="openMyProfile()"
          src="../images/profile-circle.svg"
          alt="Vhost"
        />
      </div>
    </nav>
    <div class="heading">
      <p>Create Your Online Event</p>
    </div>
    <div class="org_logo">
      <img src="../images/organisationOption.png" alt="organisation" />
    </div>
    <div class="main">
      <div class="details">
        <div class="data">
          <p>Name</p>
          <input type="text" id="name" />
        </div>
        <div class="data">
          <p>E-mail ID</p>
          <input type="email" id="email" />
        </div>
        <div class="data">
          <p>Event Title</p>
          <input type="text" id="eventTitle" />
        </div>
        <div class="data">
          <div class="data1">
            <p>Event Starting Date and time</p>
            <input type="datetime-local" id="eventStartingDateTime" />
          </div>
          <div class="data2">
            <p>Event category</p>
            <input type="text" id="eventCategory" />
          </div>
          <div class="data3">
            <p>Event Ending Date and time</p>
            <input type="datetime-local" id="eventEndingDateTime" />
          </div>
        </div>
        <div>
            <p style="font-weight: 500; padding-top: 1rem;">Visibility</p>
            <form id="visibility" >
                <input type="radio" id="public" name="visibility" value="public" checked required>
                <label for="public">Public</label><br>
                
                <input type="radio" id="private" name="visibility" value="private" required>
                <label for="private">Private</label><br>
              </form>
        </div>
        <div class="login">
          <button id="createConference" onclick="createMeeting()">
            Create
          </button>
        </div>
      </div>
    </div>
    <script src="../javascript/createMeeting.js"></script>
  </body>
</html>
